{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}
{% block content %}
    <style>
        .action {
            width: 200px;
        }
        .actionElement {
            width: 10%;
        }
    </style>
    <h1> Post List</h1>

    <div class="container">
        {{ messagesPartial('partial::alerts') }}
        <table class="table" align="center">
            <thead>
                <th>Title</th>
                <th>Content</th>
                <th>Author</th>
                <th>Published On</th>
                <th class = "action" >Action</th>
            </thead>
            <tbody>
                    {%  for item in post %}
                        <tr>
                    <td><a href="/blog/view/{{ item.slug }}"> {{ item.title }} </a> </td>
                    <td> {{ item.content }}</td>
                    <td> {{ item.userId }}</td>
                    <td> {{ item.publishDate }}</td>
                    <td>
                        <table>
                            <td class="actionElement"><a href="/blog/edit/{{ item.slug }}">Edit</a></td>
                            <td class="actionElement"><a href="/blog/delete/{{ item.slug }}"> Delete </a> </td>
                        </table>
                    </td>
                </tr>
                    {% endfor %}

            </tbody>
        </table>
        <a href="/blog/create">Create</a>
    </div>
{% endblock %}
