{% extends '@layout/default.html.twig' %}

{% block title %}List messages{% endblock %}
{% block content %}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <div class="container">
        <div id="new-message">
        {{ messagesPartial('partial::alerts') }}
        {% for message in post %}

            <div>
                <h4>
            {% for user in users %}
                    {% if user.id == message.senderId %}
                   <strong>{{ user.username }}</strong>
                    {% endif %}
            {% endfor %}
                        said at: {{ message.dataSent }} {{ message.content }} </h4>
            </div>
        {% endfor %}
        </div>
        <form method="post" action="/message/sendMessage">
            <tr>
                <td> <input type="textarea" name="content" placeholder="with refresh"> </td>
                <td> <input type="submit" value="Send to: " class="btn btn-success"> </td>
                <select name="receiverId">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </tr>
        </form>

        <div id="form-message">
            <textarea id="message" class="form-control" placeholder="without refresh..."></textarea>
            <button  class="btn btn-success" onclick="sendMessage()">send to: </button>
            <select id="receiverId">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <script>
        function sendMessage() {
            var url = "http://localhost:8080/message/";

            $.ajax({

                url: url + "create",
                type: "POST",
                dataType: "JSON",
                data:{message: $('#message').val(), receiverId: $('#receiverId').val()},
                success: function(response){

                    message = response['message'];
                    receiverId = response['receiverId'];
                    username = response['username'];
                    dataSent = response['dataSent'];

                    var newMessage = '<div> <h4> <strong> '+username+' </strong> said at: '+dataSent+' '+message+'</h4></div>';
                    $("#new-message > div:last").append(newMessage);
                    $("#message").val('');
                },
            });
        }
    </script>
{% endblock %}

